/*
  Modern Simple Design - White based soft theme
*/

:root {
	--accent: #6B8E9F;
	--accent-light: #A8C4D0;
	--accent-dark: #4A6B7A;
	--black: 30, 30, 30;
	--gray: 120, 120, 120;
	--gray-light: 245, 245, 245;
	--gray-lighter: 250, 250, 250;
	--gray-dark: 80, 80, 80;
	--white: 255, 255, 255;
	--box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
	--box-shadow-hover: 0 4px 20px rgba(0, 0, 0, 0.08);
	--border-radius: 8px;
	--transition: all 0.3s ease;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	font-family: "Atkinson", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	margin: 0;
	padding: 0;
	background: rgb(var(--white));
	color: rgb(var(--black));
	font-size: 18px;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 3em 2em;
	min-height: calc(100vh - 200px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem 0;
	color: rgb(var(--black));
	line-height: 1.3;
	font-weight: 700;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 2em;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.5em;
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.1em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
	text-decoration: none;
	transition: var(--transition);
}

a:hover {
	color: var(--accent-dark);
}

p {
	margin-bottom: 1.5em;
	line-height: 1.8;
}

.prose p {
	margin-bottom: 1.5em;
}

ul,
ol {
	margin-bottom: 1.5em;
	padding-left: 1.5em;
}

li {
	margin-bottom: 0.5em;
}

textarea {
	width: 100%;
	font-size: 16px;
	font-family: inherit;
	padding: 0.75em;
	border: 1px solid rgb(var(--gray-light));
	border-radius: var(--border-radius);
	background: rgb(var(--white));
}

input {
	font-size: 16px;
	font-family: inherit;
	padding: 0.75em;
	border: 1px solid rgb(var(--gray-light));
	border-radius: var(--border-radius);
	background: rgb(var(--white));
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1.5em;
}

th,
td {
	padding: 0.75em;
	text-align: left;
	border-bottom: 1px solid rgb(var(--gray-light));
}

th {
	font-weight: 700;
	background: rgb(var(--gray-lighter));
}

img {
	max-width: 100%;
	height: auto;
	/* border-radius: var(--border-radius); */
}

code {
	padding: 0.2em 0.4em;
	background: rgb(var(--gray-lighter));
	border-radius: 4px;
	font-size: 0.9em;
	font-family: "Courier New", monospace;
}

pre {
	padding: 1.5em;
	border-radius: var(--border-radius);
	background: rgb(var(--gray-lighter));
	overflow-x: auto;
	margin-bottom: 1.5em;
}

pre > code {
	all: unset;
	display: block;
}

blockquote {
	border-left: 3px solid var(--accent-light);
	padding: 0 0 0 1.5em;
	margin: 1.5em 0;
	font-style: italic;
	color: rgb(var(--gray-dark));
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
	margin: 2em 0;
}

section {
	margin-bottom: 3em;
}

@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
	
	main {
		padding: 2em 1em;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.75em;
	}
	
	h3 {
		font-size: 1.35em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}
