---
import "@fontsource-variable/caveat";
---

<header>
    <h1 class="header-logo">
        <a href="/">aicemethod</a>
    </h1>
</header>

<style>
    .header-logo a {
        color: #ffffff;
        font-size: 2rem;
        font-family: "Caveat Variable", cursive;
        padding: 10px 20px;
        text-decoration: none;
    }
</style>
